[package]
name = "swc-angular-plugin"
version = "0.1.1"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = "1"
swc_core = { version = "56.0.0", features = ["ecma_plugin_transform", "ecma_parser_typescript"] }
indoc = "2.0.5"
serde_json = "1.0.114"

[dev-dependencies]
ansi_term = "0.12.1"
testing = "19.0.0"

[profile.release]
# Disable LTO to avoid linker error when using TransformPluginProgramMetadata#get_transform_plugin_config()
# Cf. https://github.com/swc-project/swc/issues/7934
lto = false
