name: Test & Release

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build
        run: yarn nx affected --target=build

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Lint
        run: yarn nx affected --target=lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node_version: 20
      - name: Test
        run: yarn nx affected --target=test

  component-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps
      - name: Component Test
        run: yarn nx affected --target=component-test --parallel=1
      - name: Upload test results on failure
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results
          path: test-results

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: E2E
        run: yarn nx affected --target=e2e --parallel=1

  release:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main'

    needs:
      - build
      - lint
      - test
      - component-test
      - e2e

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
        with:
          git_bot_token: ${{ secrets.GIT_BOT_TOKEN }}
      - name: Release
        uses: ./.github/actions/release
        with:
          git_bot_token: ${{ secrets.GIT_BOT_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
